{% extends 'main/layout.html' %}
{% load static %}
{% block title %}form for adding news{% endblock %}

{% block content %}
    <div class="features">
        <h1>Form for adding new news</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" placeholder="Title" class="form-control"><br>
            <input type="text" placeholder="Anons stati" class="form-control"><br>
            <textarea class="form-control" placeholder="Text stati"></textarea><br>
            <input type="date" class="form-control"><br>
            <input type="time" class="form-control"><br>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>

   </div>
{% endblock %}

