{% extends 'main/layout.html' %}
{% load static %}
{% block title %}news on the site{% endblock %}

{% block content %}
    <div class="features">
        <h1>News on the site</h1>
    {% if news %}
        {% for el in news %}
             <div class="alert alert-warning">
            <h3> {{ el.title }}</h3>
            <p>{{ el.anons }}</p>
            <p>{{ el.date }}</p>
             </div>
         {% endfor %}
    {% else %}
        <p>YOU DON"T HAVE any news</p>
    {% endif %}

   </div>
{% endblock %}

