{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>salam kandy sindar baurlsr</p>
        <buttom class="btn btn-warning">Go about us</buttom>
   {% for el in values %}
       <p> {{ el }}</p>
    {% endfor %}
   </div>
{% endblock %}

