{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!--<link rel="stylesheet" href="main/css/main.css">-->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/sinav.jpeg' %}" alt="Logo">
        <span class="logo">Manas</span>
        <h4>Навигация</h4>
         <dir class="Icons">
             <ul>
                 <a href="{% url 'home' %}" ><li><i class="fas fa-home"></i>Global</li></a>
                 <a href="{% url 'about' %}" ><li><i class="fas fa-id-card-alt"></i>Contact</li></a>
                 <a href="{% url 'news_home' %}" ><li><i class="fas fa-id-card-alt"></i>News</li></a>
                 <a href="" ><li><i class="fas fa-address-card"></i>About us</li></a>
                 <a href="{% url 'create' %}"><li><button class="btn btn-info"></button><li class="fas fa-plus-circle"> </li>ADD A PERSON</a>
            </ul>
         </dir>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
<style>

</style>
</html>