body{
    background: black;
}

aside{
   float: left;
   background: #181818;
   width: 20%;
   padding: 2.5px;
   height: 100vh;
   color: #fff;
   border-right: 5px  solid #4d4d4d;
}
aside img {
   width: 60px;
   font-size: 50px;
   float: left;
   margin: 5px;
   padding: 5px;
}
.Icons{
   top: 30px;
   font-size: 20px;
}

aside .logo{
   font-size: 30px;
   margin-left: 10px;
   font-weight: bold;
   position: relative;
   top: 10px;
}
h4{
   margin: 5px;
   padding: 5px;
   top: 20px;
   size: 10px;
   color: white;
}

aside ul {list-style: none}

aside ul li{
   color: white;
   display: block;
   margin-top: 20px;
   transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
   color: fuchsia;
   text-decoration: none;
   transform: scale(1.05);

}

main .features{
   float: left;
   color: white;
   margin-top: 100px;
   text-align: center;
   width: 75%;
}
main .features h1{
   font-size: 50px;

}

ul li i.fas fa-home {
   padding: 5px;
}
form{
   margin-left:  32%;
   width: 500px;
   margin-top: 50px;
}
